<%= link_to "<- Home", cards_path, class:"inline-block mt-2 text-gray-400 mb-6" %>
<div class= "flex justify-between items-center">
<h1 class="text-4xl font-semibold ">Create new bussiness card</h1>
</div>

<div class="mt-6">
<%= render 'form' %>
</div>

